body{
    background: #525252;
    margin-right: 200px;
    margin-left:200px;
}

h1, h2, p, a{
    font-family: Consolas;
    color: white;
}

h1{
    text-align: center;
}

ul{
    list-style-type: none;
}

footer{
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-padrao{
    margin: 5px;
    width: 300px;
}

.img-left{
    float: left;
}

.icone{
    width: 30px;
    float: left;
}